{% extends "accounts/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
            <h1 class="text-center font-weight-light my-4">Login</h1>
        </div>
        <div class="card-body">
            {% for error in form.non_field_errors %}
                <p class="text-danger small">{{ error }}</p>
            {% endfor %}
            <form method="POST" action="{% url "accounts:login" %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="small mb-1" for="email">Email</label>
                    <!-- 
                        We're overriding the default Django authentication to use email instead of username, take note of the 
                        name="username" attribute  
                    -->
                    <input class="form-control py-4" id="email" type="email" placeholder="Enter email address" required 
                name="username" />
                    
                    {% for error in form.username.errors %}
                        <p class="text-danger small">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="password">Password</label>
                    <input class="form-control py-4" id="password" type="password" placeholder="Enter password" required 
                    name="password"/>
                    {% for error in form.password.errors %}
                        <p class="text-danger small">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                        <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="#">Forgot Password?</a>
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="small"><a href="{% url "accounts:register" %}">Need an account? Sign up!</a></div>
        </div>
    </div>
</div>
{% endblock %}