{% extends "accounts/base.html" %}

{% block title %}Confirm New Password{% endblock %}

{% block content %}
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <a href="{% url 'pages:home' %}"><span class="fa fa-arrow-left"></span> Home</a>
                <h1 class="text-center font-weight-light my-4 text-primary">Confirm Password</h1>
            </div>
            <div class="card-body">
                {% for error in form.non_field_errors %}
                    <p class="text-danger small">{{ error }}</p>
                {% endfor %}
                <p>Set a new password below:</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="small mb-1" for="inputPassword">Password</label>
                        <input class="form-control py-4" id="inputPassword" type="password"
                               placeholder="Enter password" name="new_password1" required/>
                        {% for error in form.new_password1.errors %}
                            <p class="text-danger small">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="inputConfirmPassword">Confirm
                            Password</label>
                        <input class="form-control py-4" id="inputConfirmPassword"
                               type="password" placeholder="Confirm password" name="new_password2"
                               required/>
                        {% for error in form.new_password2.errors %}
                            <p class="text-danger small">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <div class="small"><a href="{% url "accounts:register" %}">Need an account? Sign up!</a></div>
            </div>
        </div>
    </div>
{% endblock %}