{% extends "accounts/base.html" %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
            <a href="{% url 'pages:home' %}"><span class="fa fa-arrow-left"></span> Home</a>
            <h1 class="text-center font-weight-light my-4 text-primary">Check Your Inbox</h1>
        </div>
        <div class="card-body">
            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
        <div class="card-footer text-center">
            <div class="small"><a href="{% url "accounts:register" %}">Need an account? Sign up!</a></div>
        </div>
    </div>
</div>
{% endblock %}