{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Dashboard Home{% endblock %}

{% block content %}
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    {% include "dashboard/examples/cards.html" %}
    {% include "dashboard/examples/charts.html" %}
    {% include "dashboard/examples/data-table.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "dashboard/js/chart-area.js" %}"></script>
    <script src="{% static "dashboard/js/chart-bar.js" %}"></script>
    <script src="{% static "dashboard/js/datatables.js" %}"></script>
{% endblock %}